$link-color:                #3DC19E;
$link-decoration:           none !default;
$link-hover-color:          darken(#3dc19e,20%);
$link-hover-decoration:     underline !default;


$title-link-color: #262626;
$title-hover-color: #262626;

$primary-color: #3DC19E;
$color-grey: #BDBDBD;
$color-dark-grey: #828282;


// Text colors
$base-text-color: #333;
$base-text-light-color: #8B8B8B;

// Link colors
$base-link-color:#3DC19E;
$base-link-muted-color: #333;
$base-link-hover-color: darken(#3DC19E, 10%);


$navigation-link-color:     $base-link-muted-color;
$navigation-hover-color:    $base-link-color;

$button-primary-color:#fff; // $base-link-color;
$button-primary-hover-color: $base-link-color; //#fff;
$button-primary-border-color: $base-link-color;
$button-primary-background-color: #fff;
$button-primary-background-hover-color:$link-color;


// Border
$base-border-color: #E0E0E0;

// My account
$dashboard-nav-color:$navigation-link-color;
$dashboard-nav-hover-color:$navigation-hover-color;
$dashboard-nav-active-color:$navigation-hover-color;


$post-title-link-color: #424242;
$post-title-hover-color: #424242;

$footer-bg-color-primary: #3A4542;
$footer-bg-color-secondary: rgba(0,0,0,.25);
$footer-text-color: #fff;
$footer-link-color: #fff;
$footer-hover-color: lighten($footer-link-color,25%);
