//

.mi {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

$modularscale: (
  base: 18px,
  ratio: 1.4
);

$breakpoints: (
  small: 600px,
  large: 1200px
);



$typi: (
  base: (
    null: (18px, 1.4),
 //   tablet: (18px),
   // desktop: (18px,1.4),
    //large: (18px,1.4)
  ),
  h1: (
    null: (50px)
  ),
  h2: (
    null: (22px)
  ),
  p: (
    null: (18px)
  ),

  label:(
    null:(18px,38px)
  ),

  xxl: (
    null: ( 36px,44px)
  ),
  large:(
    null: ( 30px,44px)
  ),
  small: (
    null: (16px,23px)
  ),
  xs:(null: (14px))
);

@include typi-create-classes;
@include typi-init;

html{
    font-family: $font-family-heading;
    letter-spacing: $font-base-letter-spacing;
    -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
    font-family: $font-family-heading;
    font-kerning: normal;
    font-weight: $font-family-heading-weight;
}
h1 { 
    @include typi('h1'); 
    margin-top: vr(1);
    margin-bottom: vr(1); // 2 baselines    
}

p { 
    @include typi('p'); 
    margin-top: 0px;
    font-family: $font-family-paragraph;
    margin-bottom: vr(1);
    letter-spacing: $font-base-letter-spacing;
    -webkit-font-smoothing: antialiased;
}
