
 
 %accordion {
  $base-border-color: $base-border-color;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-font-color: $base-text-color !default;
  $accordion-menu-border-color: $base-border-color;
  $accordion-menu-color: $base-text-color;
  $accordion-menu-border: 1px solid $accordion-menu-border-color;
  $accordion-menu-background: lighten($accordion-menu-border-color, 10%);
  $accordion-menu-hover: lighten($accordion-menu-background, 2%);
  $accordion-menu-sub-background: darken($accordion-menu-background, 5%);
  $accordion-menu-sub-inset: darken($accordion-menu-sub-background, 6%);
  $accordion-menu-sub-hover: lighten($accordion-menu-sub-background, 2%);
  $accordion-menu-list-padding: $grid-gutter;

  background-color: #fff;
  border: 1px solid $base-border-color;
  margin: 0 0 $base-spacing 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: 1px solid $base-border-color;
    list-style: none;

    > a {
      color: $base-link-muted-color;
      display: block;
      padding: $accordion-menu-list-padding;
      text-decoration: none;
      text-transform: uppercase;
      @include typi('small'); 

    }

    &:last-child {
      border: 0;
    }

    &:focus,
    &:hover {
      background-color: $accordion-menu-hover;
    }
  }

  ul {
    display: none;

    li {
      background-color: $accordion-menu-sub-background;
      
      &:first-child {
        border-top: $accordion-menu-border;
       //box-shadow: inset 0 1px 1px $accordion-menu-sub-inset;
      }

      &:focus,
      &:hover {
        background-color: $accordion-menu-sub-hover;
      }
    }
  }

  .is-expanded {
    display: block;
    padding-bottom: 0;
    &>a{
      font-weight: $font-weight-bold;
    }
  }
}

.product-categories{
   @extend  %accordion;
}
.product-categories1{
   padding: 0;
   margin: 0; 
   list-style: none; 
   li{
    
      border-top: 1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 0; 
      &:last-of-type {
       // border-bottom: 1px solid black; 
      }
      a {
        display: block;
        color: black;
        font-weight: bold;
        padding: $grid-gutter;
        
      }
   }
  ul {
     border-top: 0; 
     font-size: 12px;
     list-style: none;
     margin: 0px;
     padding: 10px;
     border-top: 1px solid black; 
     li{
         border: 0;
         a{
             padding: none;
         }
     }
  
     
  }
}

/*

var allPanels = $('.product-categories > ul').hide();
 
$('.product-categories > ul > a').click(function() {
 $(this).parent().next().slideToggle();
 return false; 
});
*/
.up-sells.products,.related.products{
  display: flex;
}
.product{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  .summary{
    flex:1;
  }
}

.woocommerce-product-gallery{
  flex: 1;
}

// Links
.woocommerce-LoopProduct-link{
  color: $base-link-muted-color;
  position: relative;
  display: block;
  .onsale{
    position:absolute;
    left: 0px;
    top:0px;
  }
  &:hover{
    color: $base-link-color;
  }
  .price{
    margin: vr(1) 0;
    display: block;
  }
}
.woocommerce-loop-product__title{

  margin-bottom: 0;
}